.about {
   color: white;
   background-color: black;
   height: 100vh;
}

.title {
   font-size: 3rem;
   font-weight: 300;
   letter-spacing: .5rem;
   position: absolute;
   width: 100vw;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   opacity: 0;
}

.information-sec1 {
   position: absolute;
   width: 60%;
   height: 40%;
   top: 60%;
   transform: translateY(-50%);
   left: 5%;
   opacity: 0;
}

.information-sec1>h4 {
   font-size: 2.5rem;
   margin-bottom: 1rem;
   letter-spacing: 0.5rem;
}

.information-sec1>p {
   font-size: 2rem;
}

.information-sec2 {
   font-size: 2rem;
   width: 50%;
   position: absolute;
   top: 60%;
   transform: translateY(-50%);
   right: 5%;
   opacity: 0;
}

.arrow-down {
   position: absolute;
   top: 90vh;
   right: 50%;
   font-size: 2rem;
}

.return {
   width: 2rem;
   height: 2rem;
   position: absolute;
   top: 2rem;
   right: 95%;
   background-color: white;
   cursor: pointer;
}

.scroll-down {
   position: absolute;
   top: 500px;
   right: 50%;
   transform: translateX(50%);
   letter-spacing: 1rem;
   font-size: 2rem;
   font-weight: 400;
}

.guide {
   position: absolute;
   bottom: 40%;
   right: 50%;
   transform: translate(50%, 50%);
   opacity: 0;
   color: white;
   font-size: 2rem;
   width: 100%;
   text-align: center;
   font-weight: 300;
   letter-spacing: .4rem;
}

/* Responsive Mobile */

@media only screen and (max-width: 415px) {
   .scroll-down {
      font-weight: 200;
      letter-spacing: .1rem;
   }

   .title {
      font-size: 1.5rem;
      letter-spacing: .1rem;
   }

   .information-sec1>h4 {
      font-size: 1.25rem;
   }
   
   .information-sec1>p {
      font-size: .75rem;
      line-height: 1.25rem;
   }

   .information-sec2 {
      font-size: .75rem;
      line-height: 1.25rem;
   }
   
   .arrow-down {
      font-size: 1rem;
   }

   .guide {
      font-size: 1rem;
   }
} 