.first-circle {
    width: 2rem;
    height: 2rem;
    position:fixed;
    background-color: white;
    transition: all .5s;
    bottom: 1rem;
    right: 1rem;
}

.first-circle:hover {
    cursor: pointer;
    background-color: blue;
    border-radius: 50%
}