@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
}

.loader {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  position: fixed;
  top: 1.5rem;
  left: 1rem;
  padding: 0.5rem;
  transition: all 0.3s ease;
  border-bottom: 1px solid green;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.2rem;
}

.contact:hover {
  border-radius: 0.2rem;
  background-color: #00ff00;
  letter-spacing: 0.1rem;
  border: 1px solid black;
  box-shadow: 4px 4px 2px #00ff00;
}

.contact a {
  text-decoration: none;
  color: green;
  padding: 0.5rem;
}

.contact a:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 415px) {
  .contact a {
    font-size: 0.75rem;
    color: black;
    padding: 0.25rem;
  }

  .contact {
    border: 1px solid black;
    top: 1rem;
  }

  .contact a:hover {
    color: inherit;
    background-color: inherit;
  }
}
