@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

.App {
    height: 100%;
}

.loader {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contact {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    padding: .5rem;
    transition: all .3s ease;
    border-bottom: 1px solid green;
    background-color: transparent;
    cursor: pointer;
    border-radius: .2rem;
}

.contact:hover {
    border-radius: .2rem;
    background-color: #00FF00;
    letter-spacing: .1rem;
    border: 1px solid black;
    box-shadow: 4px 4px 2px #00FF00;
}

.contact  a {
    text-decoration: none;
    color: green;
}

.contact  a:hover {
    text-decoration: none;
    color: white;
}

@media (max-width: 415px) {
    .contact a {
        font-size: .75rem;
        color: black;
    }

    .contact {
        border: 1px solid black;
        top: 1rem;
    }
  }

  @media (hover: none){
    .contact  a:hover {
        color: inherit;
        background-color: inherit;
        
    }
}